Nrefrigetor/Nrefrigetor/bin
Nrefrigetor/Nrefrigetor/obj
Nrefrigetor/Nrefrigetor/Properties
Nrefrigetor/Nrefrigetor/App.config
Nrefrigetor/Nrefrigetor/Nrefrigetor.csproj
Nrefrigetor/Nrefrigetor.sln
Nrefrigetor/.vs